<%- include('../partials/header') %>
    <div id="nav">
      <h1 id="nav-h1">YOUR ACCOMMODATION</h1>
      <div>
        <a class="homepage-links" href="/owners/<%= owner._id %>/new"
          >ADD LISTING</a
        >
        <a class="homepage-links" href="/logout">LOG OUT</a>
      </div>
    </div>
    <div id="main-section-index">
      <% owner.properties.forEach(function(p) { %>
      <div class="main-section-index-div">
        <div id="main-section-index-div1">
          <div id="main-section-index-div1-image">
            <img src="<%= p.image %>" alt="Image" />
          </div>
          <div id="main-section-index-div1-detail">
            <div>Address: <%= p.address %></div>
            <div>Move-In-Date: <%= p.moveInDate.toLocaleDateString() %></div>
            <div>Bedrooms: <%= p.bedroom %></div>
            <div>bathrooms: <%= p.bathroom %></div>
            <div>Utilities: <%= p.utility %></div>
            <div>Furnished: <%= p.furnish %></div>
            <div>Parking: <%= p.parking %></div>
            <div>Rent: $<%= p.rent %></div>
          </div>
        </div>
        <div id="main-section-index-div2">
          <a href="/owners/<%= p.id %>">Edit</a>
          <a href="/owners/<%= p._id %>?_method=DELETE">Delete</a>
        </div>
      </div>
      <% }) %>
    </div>
<%- include('../partials/footer') %>
