<%- include('../partials/header') %>
<div id="nav">
  <h1 id="nav-h1">YOUR ACCOMMODATION</h1>
  <div>
    <a class="homepage-links" href="/owners">ALL LISTING</a>
    <a class="homepage-links" href="/logout">LOG OUT</a>
  </div>
</div>
<div id="section">
  <h2>UPDATE YOUR LISTING</h2>
  <div>
    <form
      action="/owners/<%= property.id %>?_method=PUT"
      method="POST"
      id="create-form"
    >
      <input
        type="text"
        name="address"
        value="<%= property.address %>"
        required
        autocomplete="off"
      /><br />
      <input
        type="date"
        name="moveInDate"
        value="<%= property.moveInDate.toLocaleDateString() %>"
        min="2022-08-31"
        max="
            2022-12-31"
        required
        autocomplete="off"
      /><br />
      <input
        type="number"
        name="bedroom"
        value="<%= property.bedroom %>"
        min="1"
        required
        autocomplete="off"
      /><br />
      <input
        type="number"
        name="bathroom"
        value="<%= property.bathroom %>"
        min="1"
        required
        autocomplete="off"
      /><br />
      <input
        type="text"
        name="utility"
        value="<%= property.utility %>"
        required
        autocomplete="off"
      /><br />
      <input
        type="text"
        name="furnish"
        value="<%= property.furnish %>"
        required
        autocomplete="off"
      /><br />
      <input
        type="number"
        name="parking"
        value="<%= property.parking %>"
        required
        autocomplete="off"
      /><br />
      <input
        type="number"
        name="rent"
        value="<%= property.rent %>"
        required
        autocomplete="off"
      /><br />
      <button>Update</button>
    </form>
  </div>
</div>
<%- include('../partials/footer') %>
